:root {
  --max-width: 1590px;
  --max-text-width: 1050px;
  --center: 0 auto;
  --page-side-padding: 70px;
  --gray-text: #5A5A5A;
  --gray-border: #c9c9c9;
  
  @media (max-width: 700px) {
    --page-side-padding: 20px;
  }
}


html { 
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  line-height: 190%;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 140%;
}

h1 { font-size: 32px; text-transform: uppercase; }

h2 {
  font-size: 24px; 
  text-transform: uppercase;
  margin-bottom: 12px;
}

h3 {
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h4 { 
  color: var(--gray-text); 
  font-size: 22px;
  font-weight: 400; 
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 200ms;
}

a:hover {
  opacity: 0.65;
}

.embed-container {
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; overflow: hidden; 
  max-width: 100%;

  @media (max-width: 700px) {
    padding-bottom: 150.5%;
  }
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; 
  height: 100%; 
}