.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.thumbnail { 
  width: 100%;
  height: auto;
  transition: transform 500ms; 
}

.projectWrapper:hover img.thumbnail {
  transform: scale(1.03);
}

@media (max-width: 1000px) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .projectsGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .projectWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}