.header {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.label {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.body {
  p {
    margin-bottom: 18px;
    max-width: var(--max-text-width);
  }

  a {
    color: var(--gray-text);
    border-bottom: 1px solid var(--gray-border);
  }
}

.list p {
  margin-bottom: 6px;
}