.about section { margin-bottom: 40px; }
.aboutText p { margin-bottom: 20px; }
.aboutImage { width: 100%; }
.about .subtitle { margin-bottom: 20px; }
.press a {
  color: var(--gray-text);
  border-bottom: 1px solid var(--gray-border);
}
.pressHeading { margin-bottom: 20px; }