.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

}

.home {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.71) -60%, rgba(17, 17, 17, 0) 70%);
}

.headerWrapper {
  max-width: var(--max-width);
  margin: var(--center);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;

    div:first-child {
      padding-bottom: 15px;
    }
  }
}

.leftWrapper {
  display: flex;
  align-items: baseline;

  p {
    font-size: 24px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.85);
    margin-top: 16px;
    opacity: 0.85;
    font-weight: 500;
  }
}

.home .leftWrapper {
  p {
    border-left: 1px solid rgba(255, 255, 255, 0.85);
  }
}

.navLinks {
  display: flex;
  gap: 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;

  @media (max-width: 700px) {
    gap: 30px;
  }
}