.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.71) -60%, rgba(17, 17, 17, 0) 70%);
}

.headerWrapper {
  max-width: var(--max-width);
  margin: var(--center);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
}

.leftWrapper {
  display: flex;
  align-items: baseline;

  h2 {
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.85);
    margin-top: 16px;
    // opacity: 0.85;
    text-transform: none;
  }
}

.navLinks {
  display: flex;
  gap: 20px;
}

.fade1, .fade3 { 
  opacity: 0;
  animation: fadeIn 0.75s ease-in-out forwards;
}

.fade1 { animation-delay: 0.5s; }
.fade3 { animation-delay: 1.75s; }

.fade2 {
  opacity: 0;
  transform: translateX(-10px);
  animation: fadeInAndSlide 0.75s ease-in-out forwards;
  animation-delay: 1s;
}


// Project page header
.project {
  color: #000;
  background: initial;

  .leftWrapper h2 { border-left: 1px solid rgba(0, 0, 0, 0.85); }
}

@media (max-width: 1050px) {
  .headerWrapper {
    flex-direction: column;
    gap: 35px;
    padding-top: 40px;
  }

  .leftWrapper {
    flex-direction: column;
    align-items: stretch;

    h2 {
      padding: 10px 0 0 0;
      margin: 10px 0 0 0;
      border-left: none;
      border-top: 1px solid rgba(255, 255, 255, 0.85);
    }
  }

  .navLinks { gap: 30px; }

  // Project page header
  .project {
    h1 { font-size: 28px; }
    .headerWrapper { gap: 24px; }
    .navLinks { font-size: 22px;}
    .leftWrapper h2 { display: none; }
  }

  .fade2 {
    opacity: 0;
    transform: none;
    animation: fadeIn 0.75s ease-in-out forwards;
    animation-delay: 1s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}