.main {
  max-width: var(--max-width);
  margin: var(--center);
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
  margin-top: 155px;

  section { 
    padding: 80px 0 60px 0;
    border-bottom: 1px solid var(--gray-border); 
  }

  section:first-child { padding-top: 0; }

  section:last-child {
    border-bottom: none;
    padding: 20px 0 80px 0;
  }
}

.projectDescription div {
  margin: 30px 0 0 0;
  padding: 0;
  border: none;
}

@media (max-width: 1050px) {
  .main { margin-top: 175px; }
}

@media (max-width: 700px) {
  .main > div { padding-bottom: 56.25%; }
}